.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}



.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.list-group-item{
  color : #006eff;
  font-size: 2rem;
}

.card{
  box-shadow: 6px 6px 10px lightgray;
}

.container{
  padding-top: 5%;
}

li span{
  color:darkgray;
}

.cc{
  width : 40%;
}